{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ring/ring {:mvn/version "1.13.0"}
        metosin/reitit-ring {:mvn/version "0.7.2"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.16"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :aliases {:nREPL
           {:extra-paths ["dev"]
            :extra-deps
            {nrepl/nrepl {:mvn/version "1.3.0"}}}
           :dev {:extra-deps ["dev"]}
           :format {:deps {dev.weavejester/cljfmt {:mvn/version "0.13.0"}}}}}